.idea/**
.gradle/**
.*.log*
.cache/*
.vagrant/*
.cache/*
.nextflow*
.node-nextflow*
build/**
subprojects/**/build/
subprojects/**/*.iml
out/**
piper/**
tmp/*
work/*
nextflow.eml
nextflow.iml
Vagrantfile
resources/*
test/*
tools/*
other
docs/_build/
dx-project/
./*.txt
cache/
extrae_files/**
errors/
misc/
logo/
cloud/my-*
docker-test
temp
gradle.properties
.dockerignore
.launch.classpath